<section>
  <div class="home-div">
    <div class="title">
      <h1 class="title-sub-1">STOLBY</h1>
      <h3 class="title-sub-2">START YOUR JOURNEY TODAY.</h3>
    </div>

    <div class="vertical-align">
      <div class="links">
        <div class="link-path">
          <div class="sign-in">
            <a href="#">SIGN IN</a>
          </div>
          <div class="sign-up">
            <a href="#">SIGN UP</a>
          </div>
        </div>
      </div>

      <div class="form-details">
        <div class="input">
          <input type="text"
                 class="dark-blue"
                 placeholder="Username">
          <input type="password"
                 class="dark-blue"
                 placeholder="Password">
        </div>

      </div>
      <div class="green">
        <button class="green-button">TAKE ME THERE</button>
      </div>
      <div class="form-text">
        <h4>OR</h4>
      </div>
      <div class="blue">
        <button class="blue-button">SIGN IN WITH FACEBOOK</button>
      </div>
    </div>

  </div>
</section>
